<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/checkout-add.css">
  <script src="https://kit.fontawesome.com/6cb58dcda6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/modal.css">
  <title>Purchase confirmation</title>
</head>

<body>
  <header class="header">
    <h1 class="header__logo">Darling.</h1>
    <input type="checkbox" id="check">
    <label for="check" class="header__nav-mostrar-menu"> &#8801 </label>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link header__nav-link--active">Shop</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Collection</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">About</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Contact</a>
        </li>
        <li class="header__nav-item header__nav-item--profile">
          <a href="#" class="header__nav-link">
            <img src="/Assets/1Home-Page/0Header/Profile1.png" alt="Perfil" />
          </a>
        </li>
        <li class="header__nav-item header__nav-item--cart">
          <a href="#">
            <img id="btnCart" src="/Assets/1Home-Page/0Header/Shopping cart 1.png" alt="CarritoCompras" />
          </a>
        </li>
      </ul>
      <label for="check" class="header__nav-esconder-menu"> &#215 </label>
    </nav>
  </header>

  <main class="main">
    <section class="main__container-thanks-img">
      <figure class="main__thanks-img">
        <img class="main__image" src="/Assets/check-add-payment-method/img-1.jpg" alt="Thank you for your purchase!">
        <figcaption>
          <h5 class="main__thanks-img_title">Thank you for your purchase!</h5>
          <p class="main__thanks-img_text">You will receive an confirmation letter through your email</p>
        </figcaption>
      </figure>
    </section>

    <section class="main__container-purchase-order" ">
      <section class=" main__purchase-data">
      <!-- 1er -->
      <figure class="main__container-data_img">
        <div class="main__container-data">
          <img class="main__data-img" src="/Assets/check-add-payment-method/Calendar date 1.svg" alt="Date">
          <h6 class="main__data-title">Date</h6>
        </div>
        <figcaption>
          <p class="main__data-text">27/04/2022</p>
        </figcaption>
      </figure>
      <!-- 2da -->

      <figure class="main__container-data_img">
        <div class="main__container-data">
          <img class="main__data-img" src="/Assets/check-add-payment-method/Profile 8.svg" alt="Customer">
          <h6 class="main__data-title">Customer</h6>
        </div>
        <figcaption>

          <p class="main__data-text main__data-text--active">John Miller</p>
        </figcaption>
      </figure>
      <!-- 3era -->

      <figure class="main__container-data_img">
        <div class="main__container-data">
          <img class="main__data-img" src="/Assets/check-add-payment-method/Money 13 1.svg" alt="Payment Method">
          <h6 class="main__data-title">Payment Method</h6>
        </div>

        <figcaption>

          <img class="main__data-visa" src="/Assets/check-add-payment-method/visa.svg" alt="visa">
        </figcaption>
      </figure>

      <div class="main__separator-center">
        <hr class="main__separator">
      </div>

      <!-- 1ero -->
      <figure class="main__container-data_img">
        <div class="main__container-data">
          <img class="main__data-img" src="/Assets/check-add-payment-method/Receipt list 43 1.svg" alt="Order Number">
          <h6 class="main__data-title">Order Number</h6>
        </div>
        <figcaption>
          <p class="main__data-text">586789963</p>
        </figcaption>
      </figure>
      <!-- 2da -->

      <figure class="main__container-data_img">
        <div class="main__container-data">
          <img class="main__data-img" src="/Assets/check-add-payment-method/Currency dollar 1.svg" alt="Total">
          <figcaption>
            <h6 class="main__data-title">Total</h6>
        </div>
        <p class="main__data-text">$1058.72</p>
        </figcaption>
      </figure>

      <div class="main__separator-center">
        <hr class="main__separator">
      </div>
    </section>

    <section class="main__container-order">
      <h5 class="main__order-title">Order Line</h5>
      <section class="main__container-order-description">

        <figure class="main__container-order-img">
          <img class="main__order-img" src="/Assets/check-add-payment-method/img-2-ring.jpg" alt="">
          <figcaption>
            <h6 class="main__order-img_title">Luxury Charms Ring</h6>
            <p class="main__order-code">Code: 78205</p>
            <span class="main__order-quantity">x1</span>
          </figcaption>
          <div>
            <p class="main__order-price">$620.73</p>
          </div>
        </figure>

        <figure class="main__container-order-img">
          <img class="main__order-img" src="/Assets/check-add-payment-method/img-3-earring.jpg" alt="">
          <figcaption>
            <h6 class="main__order-img_title">Exquisite Earrings</h6>
            <p class="main__order-code">Code: 92701</p>
            <span class="main__order-quantity">x1</span>
          </figcaption>
          <div>
            <p class="main__order-price">$125.28</p>
          </div>
        </figure>

        <button class="main__button">Continue shopping</button>
      </section>
    </section>
    </section>
  </main>
  <footer class="footer">
    <ul class="footer__containerLogo">
      <li class="footer_logo">Darling.</li>
      <li class="footer__copyright">© 2022 Brand, Inc.</li>
    </ul>

    <div class="footer__containerLinks"></div>

    <ul class="footer__firtsLinks">
      <li class="footer__links footer__links--hover">Shop</li>
      <li class="footer__links footer__links--hover">Collections</li>
      <li class="footer__links footer__links--hover">About</li>
    </ul>

    <ul class="footer__secondLinks footer__secondLinks--hover">
      <li class="footer__links footer__links--hover">Contact</li>
      <li class="footer__links footer__links--hover">Privacy</li>
      <li class="footer__links footer__links--hover">Terms</li>
    </ul>

    <section class="footer__containerContact">
      <h3 class="footer__contactTitle">Subscribe to our newsletter</h3>
      <p class="footer__contactText">
        For product announcements and exclusive insights
      </p>

      <form class="footer__contactEmail">
        <span class="footer__barEmail">
          <i class="fa-regular fa-envelope footer__iconEmail"></i>
          <input class="footer__inputEmail" type="email" placeholder="Input your email" />
        </span>
        <button class="footer__button">Subscribe</button>
      </form>

      <ul class="footer__containerRRSS">
        <li class="footer__rrssIcon"><i class="fa-brands fa-twitter"></i></li>
        <li class="footer__rrssIcon">
          <i class="fa-brands fa-facebook"></i>
        </li>
        <li class="footer__rrssIcon">
          <i class="fa-brands fa-linkedin"></i>
        </li>
        <li class="footer__rrssIcon"><i class="fa-brands fa-youtube"></i></li>
      </ul>
    </section>
  </footer>

  <!-- MODAL CART -->
  <section class="section__modal-container hidden">
    <section class="section__modal-cart">
      <div class="section__description">
        <h1 class="section__modal-title">Your cart</h1>
        <button id="closeModal" class="section__modal-close"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div id="containerCart">
        <!-- Aqui pegamos los detalles del modal -->
      </div>
    </section>
  </section>
  <script src="/scripts/script.js"></script>
</body>
</html>