<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer information</title>
    <script src="https://kit.fontawesome.com/c99c2ed0e4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/form-customer-info.css">
</head>
<body>  
    <header class="header">
        <h1 class="header__logo">Darling.</h1>
        <input type="checkbox" id="check">
        <label for="check" class="header__nav-mostrar-menu"> &#8801 </label>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">Home</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">Shop</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">Collection</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">About</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">Contact</a>
            </li>
            <li class="header__nav-item header__nav-item--profile">
              <a href="#" class="header__nav-link header__nav-link--active">
                <img src="/Assets/1Home-Page/0Header/Profile1.png" alt="Perfil" />
              </a>
            </li>
            <li class="header__nav-item header__nav-item--cart">
              <a href="#">
                <img src="/Assets/1Home-Page/0Header/Shopping cart 1.png" alt="CarritoCompras" />
              </a>
            </li>
          </ul>
          <label for="check" class="header__nav-esconder-menu"> &#215 </label>
        </nav>
     </header>
    
    <!-- Sofi es una pro con las funciones -->
    <section class="form-container">
        <div class="form">
            <h1> <span><i class="fa-solid fa-circle-user"></i></span> Customer information</h1>
            <form id="usuarioForm" onsubmit="recibirForm(event)" class="form_customer">
             <!-- Nombre -->
                <label for="name">Full name</label>
                <input type="text" name="name">
    
             <!-- Número -->
                <label for="">Phone number</label>
                <input type="number" name="number" id="">
    
             <!-- Direccion -->
                <label for="address">Address</label>
                <input type="text" name="address">
    
             <!-- Guardar los datos -->
                <button type="submit">Submit</button>
            </form>
        </div>
    </section> 

    <script src="/scripts/form-customer-info.js"></script>
</body>
</html>