<!-- Sofi -> Our Product - Shop -->

<!-- HEADER --> 
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop</title>
        <link rel="stylesheet" href="/styles/products-listing.css">
    </head>

    <body>
        <header class="header">
            <h1 class="header__logo">Darling.</h1>
            <input type="checkbox" id="check">
            <label for="check" class="header__nav-mostrar-menu"> &#8801 </label>
            <nav class="header__nav">
              <ul class="header__nav-list">
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link">Home</a>
                </li>
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link header__nav-link--active">Shop</a>
                </li>
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link">Collection</a>
                </li>
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link">About</a>
                </li>
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link">Contact</a>
                </li>
                <li class="header__nav-item header__nav-item--profile">
                  <a href="#" class="header__nav-link">
                    <img src="/Assets/1Home-Page/0Header/Profile1.png" alt="Perfil" />
                  </a>
                </li>
                <li class="header__nav-item header__nav-item--cart">
                  <a href="#">
                    <img src="/Assets/1Home-Page/0Header/Shopping cart 1.png" alt="CarritoCompras" />
                  </a>
                </li>
              </ul>
              <label for="check" class="header__nav-esconder-menu"> &#215 </label>
            </nav>
        </header>

        <section class="OurProducts">
            <h1>Our Products</h1>
            <span class="search">
                <img src="/Assets/2Our-Products/1Search/Icono-Search.png" alt="iconSearch">
                <input type="text" placeholder="Find jewelry you like">
            </span>
        </section>
        
        <section class="products">
          <nav class="nav">
            <ul>
              <li class="nav__link-button"><a href="">All</a></li>
              <li><a href="">Rings</a></li>
              <li><a href="">Bracelets</a></li>
              <li><a href="">Necklaces</a></li>
              <li><a href="">Earrings</a></li>
            </ul>    
            <span>
              <select class="price__select" name="price" id="price__select">
                <option value="">Sort by price</option>
              </select> 
            </span>                        
          </nav>
          <br/>
          <div class="cards__fila1">
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 1-a page 2.png" alt="LuxuryGems">
              <figcaption>Luxury Gems Necklace</figcaption>
              <p>$168.76</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 2-a page 2.png" alt="AuroraRing">
              <figcaption>Aurora Ring</figcaption>
              <p>$125.28</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 3-a page 2.png" alt="ReflectionsNecklace">
              <figcaption>Reflections Necklace</figcaption>
              <p>$620.73</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 4-a page 2.png" alt="DreamyInfinityRing">
              <figcaption>Dreamy Infinity Ring</figcaption>
              <p>$327.71</p>
            </figure>
          </div>
          <div class="cards__fila2">
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 1-b page 2.png" alt="OpulentJewelsRing">
              <figcaption>Opulent Jewels Ring</figcaption>
              <p>$168.76</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 2-b page 2.png" alt="SereneSolitaireEarrings">
              <figcaption>Serene Solitaire Earrings</figcaption>
              <p>$168.76</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 3-b page 2.png" alt="TimelessHaloEarrings">
              <figcaption>Timeless Halo Earrings</figcaption>
              <p>$620.73</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 4-b page 2.png" alt="ExquisiteEarrings">
              <figcaption>Exquisite Earrings</figcaption>
              <p>$327.71</p>
            </figure>
          </div>     
          <div class="cards__fila3-4">
            <div>
              <figure class="card">
                <img src="/Assets/2Our-Products/2Products_img/Img 1-2-c-c-d-d page 2.png" alt="TimelessEleganceRing">
                <figcaption>Timeless Elegance Ring</figcaption>
                <p>$168.76</p>
              </figure>  
            </div>            
            <div class="colum">
              <figure class="cards">
                <img src="/Assets/2Our-Products/2Products_img/Img 3-c page 2.png" alt="LuxuryCharmsRing">
                <figcaption>Luxury Charms Ring</figcaption>
                <p>$620.73</p>
              </figure>
              <figure class="cards cards__sep">
                <img src="/Assets/2Our-Products/2Products_img/Img 3-d page 2.png" alt="SparklingRing">
                <figcaption>Sparkling Ring </figcaption>
                <p>$620.73</p>
              </figure>              
            </div>    
            <div class="colum">
              <figure class="cards">
                <img src="/Assets/2Our-Products/2Products_img/Img 4-c page 2.png" alt="BlissfulBloomRing">
                <figcaption>Blissful Bloom Ring</figcaption>
                <p>$620.73</p>
              </figure>
              <figure class="cards cards__sep">
                <img src="/Assets/2Our-Products/2Products_img/Img 4-d page 2.png" alt="GlimmeringRing">
                <figcaption>Glimmering Ring</figcaption>
                <p>$620.73</p>
              </figure>
            </div>            
          </div>
          <br>
          <section class="paginacion">            
              <button>
                <img src="/Assets/2Our-Products/3Paginacion/flechaizq.png" alt="flechaizq">
              </button>
              <a href="">1</a>
              <a href="" class="pag_active">2</a>
              <a href="">3</a>
              <div class="paginacion__ocultar">
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="">7</a>
                <a href="">8</a>
                <a href="">9</a>
              </div>
              <img src="/Assets/2Our-Products/3Paginacion/trespuntos.png" alt="trespuntos">
              <a href="">10</a>
              <button>
                <img src="/Assets/2Our-Products/3Paginacion/flechader.png" alt=flechader"">
              </button>           
          </section>
        </section>

        <section class="main__about-us">
          <section class="section-about">              
            <article class="section-about__container-information">
            <figure class="section-about__container-img">
              <img class="section-about__img" src="/Assets/product-details/Delivery time 3.svg" alt="Delivery">
                <figcaption class="section-about__container-text">
                  <h6 class="section-about__title">Delivery</h6>
                  <p class="section-about__text">
                    Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d
                  </p>
                </figcaption>
              </img>
            </figure>
            </article>
      
            <article class="section-about__container-information">
            <figure class="section-about__container-img">
              <img class="section-about__img"
              src="/Assets/product-details/Love message 3.svg" alt="Customer care">
                <figcaption class="section-about__container-text">
                  <h6 class="section-about__title">Customer care</h6>
                  <p class="section-about__text">
                    Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d
                  </p>
                </figcaption>
              </img>
            </figure>
            </article>
      
            <article class="section-about__container-information">
            <figure class="section-about__container-img">
              <img class="section-about__img" src="/Assets/product-details/Lock landscape 3.svg" alt="Payment security">
                <figcaption class="section-about__container-text">
                  <h6 class="section-about__title">Payment security</h6>
                  <p class="section-about__text">Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d</p>
                </figcaption>
              </img>
            </figure>
           </article>            
        </section>
        
        <footer class="footer">
          <figure class="info__web">
            <h1>Darling.</h1>
            <figcaption>© 2022 Brand, Inc.</figcaption>
          </figure>
      
          <div class="footer__containerLinks">
            <ul class="footer__firtsLinks">
              <li><a href="">Shop</a></li>
              <li><a href="">Collections</a></li>
              <li><a href="">About</a></li>
            </ul>
        
            <ul class="footer__secondLinks">
              <li><a href="">Contact</a></li>
              <li><a href="">Privacy</a></li>
              <li><a href="">Terms</a></li>
            </ul>
          </div>      
          
          <section class="footer__containerContact">
            <h3>Subscribe to our newsletter</h3>
            <p>For product announcements and exclusive insights</p>
      
            <div class="footer__contactEmail">
              <span class="Email">
                <img src="/Assets/2Our-Products/4Footer/Mail.png" alt="emailIcon">
                <input type="email" placeholder="Input your email" />
              </span>    
              <button>Subscribe</button>          
            </div>

            <figure class="footer__icons">
              <img src="/Assets/2Our-Products/4Footer/Logo twitter 2.png" alt="logoTwitter">
              <img src="/Assets/2Our-Products/4Footer/Logo facebook 2.png" alt="logoFb">
              <img src="/Assets/2Our-Products/4Footer/Logo linkedin 2.png" alt="logoLink">
              <img src="/Assets/2Our-Products/4Footer/Logo youtube 2.png" alt="logoYoutube">
            </figure>
          </section>
        </footer>        
    </body>
  </html>