<!-- Gaby -> Product details -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/6cb58dcda6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/product-details.css">
  <title>Product Details</title>
</head>

<body>
  <header class="header">
    <h1 class="header__logo">Darling.</h1>
    <input type="checkbox" id="check">
    <label for="check" class="header__nav-mostrar-menu"> &#8801 </label>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="/index.html" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="./products-listing.html" class="header__nav-link">Shop</a>
        </li>
        <li class="header__nav-item">
          <a href="./product-details.html" class="header__nav-link header__nav-link--active">Collection</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">About</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Contact</a>
        </li>
        <li class="header__nav-item header__nav-item--profile">
          <a href="./form-payment-method.html" class="header__nav-link">
            <img src="/Assets/1Home-Page/0Header/Profile1.png" alt="Perfil" />
          </a>
        </li>
        <li class="header__nav-item header__nav-item--cart">
          <a href="#">
            <img id="btnCart" src="/Assets/1Home-Page/0Header/Shopping cart 1.png" alt="CarritoCompras" />
          </a>
        </li>
      </ul>
      <label for="check" class="header__nav-esconder-menu"> &#215 </label>
    </nav>
  </header>

  <main class="main">

    <section class="main__container">
      <nav class="main__nav">
        <ul class="main__nav-list">
          <li><a class="main__nav-link" href="">Home<span class="main__link-arrows"> <i
                  class="fa-solid fa-angle-right"></i></span></a></li>
          <li><a class="main__nav-link" href="">Shop<span class="main__link-arrows"> <i
                  class="fa-solid fa-angle-right"></i> </span></a></li>
          <li><a class="main__nav-link" href="">Luxury Charms</a></li>
        </ul>
      </nav>

      <!-- Section products -->
      <section class="section-product">

        <article class="section-product__container-img">
          <figure class="section-product__figure-first">
            <img class="section-product__reference-img section-product__reference-img--active"
              src="/Assets/product-details/img-1.jfif" alt="
            Golden Aventurine ring">
            <img class="section-product__reference-img" src="/Assets/product-details/img-2.jfif" alt="
            Golden Aventurine ring and calaite ring">
            <img class="section-product__reference-img" src="/Assets/product-details/img-3.jfif"
              alt="Golden Ring, Golden Aventurine ring and calaite ring">
            <img class="section-product__reference-img" src="/Assets/product-details/img-4.jfif"
              alt="Golden Aventurine ring">
          </figure>

          <figure class="section-product__figure-second">
            <span><i class="section-product__favorite-icon fa-regular fa-heart"></i></span>
            <img class="section-product__ring-img" src="/Assets/product-details/img-1.jfif" alt="
            Golden Aventurine ring">
          </figure>
        </article>

        <article class="section-product__container-product-specifications">

           <!-- <section id="contenedor" class="contenedor"> 
              Aqui se imprimen la card del producto
          </section> -->

         <section class="section-product__containerPrice">
            <h1 class="section-product__title">Luxury Charms Ring</h1>

            <p class="section-product__code">Code: 78205</p>

            <h3 class="section-product__price">$620.73</h3>

            <p class="section-product__color-product">Color - Rose Gold</p>

            <span class="section-product__containerCircles">
              <div class="section-product__circle"></div>
              <div class="section-product__circle section-product__circle--active"></div>
            </span>
          </section>

          <section class="section-product__container-size">
            <section class="section-product__description-size">
              <p class="section-product__size">Size - 48</p>
              <p class="section-product__question">What is my size?</p>
            </section>
            <section class="section-product__container-button-size">
              <button class="section-product__size-button section-product__size-button--active">48</button>
              <button class="section-product__size-button">50</button>
              <button class="section-product__size-button">52</button>
              <button class="section-product__size-button">54</button>
              <button class="section-product__size-button">56</button>
              <button class="section-product__size-button">58</button>
              <button class="section-product__size-button">60</button>
              <button class="section-product__size-button">62</button>
              <button class="section-product__size-button">64</button>
              <button class="section-product__size-button">65</button>
              <button class="section-product__size-button">68</button>
              <button class="section-product__size-button">70</button>
            </section>

          </section>

          <section class="section-product__container-quantity">
            <p class="section-product__required-quantity">Quantity</p>
            <div>
              <button class="section-product__button-quantity">-</button>
              <button class="section-product__button-quantity">1</button>
              <button class="section-product__button-quantity">+</button>
            </div>
          </section>

          <section class="section-product__container-buy">
            <button id="btnAddToCart" class="section-product__add-buy">
              <img class="section-product__cart-buy" src="/Assets/product-details/Add shopping cart.svg"
                alt="Add shopping cart">
              <span class="section-product__text-button">
                Add to bag
              </span>
            </button>

            <button class="section-product__buy-now">
              Buy now
            </button>
          </section>


          <section class="section-product__container-payment-options">
            <div class="section-product__payment-options">
              <select class="section-product__payment-select" name="delivery">
                <option value="delivery">Delivery</option>
              </select>
              <select class="section-product__payment-select" name="payment">
                <option value="Payment">Payment</option>
              </select>
            </div>

            <div class="section-product__payment-options">
              <select class="section-product__payment-select" name="Warranty">
                <option value="Warranty">Warranty</option>
              </select>
              <select class="section-product__payment-select" name="Care">
                <option value="Care">Care</option>
              </select>
            </div>
          </section>
        </article>
      </section>

      <!-- Section product information -->
      <section class="section-description">
        <article class="section-description__container-information">
          <p class="section-description__subtitle">Description</p>
          <div>
            <h2 class="section-description__title">Exquisite Elegance and Timeless Charm</h2>
            <p class="section-description__text">Lorem esse et culpa proident duis mollit nisi proident elit pariatur
              elit sit consectetur et do proident ea voluptate deserunt. Consequat dolore qui aute magna voluptate enim
              qui id cillum enim excepteur occaecat culpa deserunt eu.Culpa labore incididunt labore proident eu anim
              in.</p>
          </div>
        </article>
        <figure class="section-description__container-video">
          <img class="section-description__video-img" src="/Assets/product-details/video.png"
            alt="Video: Exquisite Elegance and Timeless Charm">
          </figcaption>
        </figure>
      </section>
    </section>

    <!-- Section about us -->
    <section class="main__about-us">
      <section class="section-about">

        <article class="section-about__container-information">
          <figure class="section-about__container-img">
            <img class="section-about__img" src="/Assets/product-details/Delivery time 3.svg" alt="Delivery">
            <figcaption class="section-about__container-text">
              <h6 class="section-about__title">Delivery</h6>
              <p class="section-about__text">
                Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d
              </p>
            </figcaption>
            </img>
          </figure>
        </article>

        <article class="section-about__container-information">
          <figure class="section-about__container-img">
            <img class="section-about__img" src="/Assets/product-details/Love message 3.svg" alt="Customer care">
            <figcaption class="section-about__container-text">
              <h6 class="section-about__title">Customer care</h6>
              <p class="section-about__text">
                Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d
              </p>
            </figcaption>
            </img>
          </figure>
        </article>

        <article class="section-about__container-information">
          <figure class="section-about__container-img">
            <img class="section-about__img" src="/Assets/product-details/Lock landscape 3.svg" alt="Payment security">
            <figcaption class="section-about__container-text">
              <h6 class="section-about__title">Payment security</h6>
              <p class="section-about__text">Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d</p>
            </figcaption>
            </img>
          </figure>
      </section>
      </article>

      <!-- Section Other Products -->
      <section class="section-other-products">
        <h1 class="section-other-products__title">You may also like</h1>
        <section class="section-other-products__container-cards">
          <figure class="section-other-products__container-card">
            <img class="section-other-products__img" src="/Assets/product-details/card-1.jpg" alt="Radiance Necklace">
            <figcaption class="section-other-products__text">
              <h5 class="section-other-products__subtitle">Radiance Necklace</h5>
              <p class="section-other-products__price">$168.76</p>
            </figcaption>
          </figure>

          <figure class="section-other-products__container-card">
            <img class="section-other-products__img" src="/Assets/product-details/card-2.jpg" alt="Exquisite Earrings">
            <figcaption class="section-other-products__text">
              <h5 class="section-other-products__subtitle">Exquisite Earrings</h5>
              <p class="section-other-products__price">$125.28</p>
            </figcaption>
          </figure>

          <figure class="section-other-products__container-card">
            <img class="section-other-products__img" src="/Assets/product-details/card-3.jpg" alt="Glamour Necklace">
            <figcaption class="section-other-products__text">
              <h5 class="section-other-products__subtitle">Glamour Necklace</h5>
              <p class="section-other-products__price">$620.73</p>
            </figcaption>
          </figure>

          <figure class="section-other-products__container-card">
            <img class="section-other-products__img" src="/Assets/product-details/card-4.jpg" alt="Delights Earrings">
            <figcaption class="section-other-products__text">
              <h5 class="section-other-products__subtitle">Delights Earrings</h5>
              <p class="section-other-products__price">$327.71</p>
            </figcaption>
          </figure>

          <figure class="section-other-products__container-card">
            <img class="section-other-products__img" src="/Assets/product-details/card-5.jpg" alt="Dreamy Necklace">
            <figcaption class="section-other-products__text">
              <h5 class="section-other-products__subtitle">Dreamy Necklace</h5>
              <p class="section-other-products__price">$327.71</p>
            </figcaption>
          </figure>
        </section>
      </section>

      <!-- Section Testimony -->
      <section class="section-testimony">
        <article class="section-testimony__description">
          <h2 class="section-testimony__title">From the people</h2>
          <p class="section-testimony__text">
            We love hearing from our customers!
            <br>
            You’re the reason we’re here and the reason we do what we do.
          </p>
        </article>
        <figure class="section-testimony__container-img">
          <img class="section-testimony__img" src="/Assets/product-details/testimony.jpg"
            alt="Testimony of Anna Fernández">
          <figcaption class="section-testimony__testimony">
            <p class="section-testimony__text">The ring itself is stunning, with a beautiful design that catches the
              light and sparkles from every angle. The quality of the materials used is evident, as the ring feels
              substantial and durable. The gemstone is exquisite, with a vibrant color and exceptional clarity.</p>
            <p class="section-testimony__person">Anna Fernandez</p>
            <p class="section-testimony__country">USA</p>

            <div class="section-testimony__container-arrows">
              <i class="section-testimony__arrow fa-solid fa-angle-left"></i>
              <i class="section-testimony__arrow fa-solid fa-angle-right"></i>
            </div>

          </figcaption>
        </figure>
      </section>
      <hr>
    </section>
  </main>


  <footer class="footer">
    <ul class="footer__containerLogo">
      <li class="footer_logo">Darling.</li>
      <li class="footer__copyright">© 2022 Brand, Inc.</li>
    </ul>

    <div class="footer__containerLinks"></div>

    <ul class="footer__firtsLinks">
      <li class="footer__links footer__links--hover">Shop</li>
      <li class="footer__links footer__links--hover">Collections</li>
      <li class="footer__links footer__links--hover">About</li>
    </ul>

    <ul class="footer__secondLinks footer__secondLinks--hover">
      <li class="footer__links footer__links--hover">Contact</li>
      <li class="footer__links footer__links--hover">Privacy</li>
      <li class="footer__links footer__links--hover">Terms</li>
    </ul>

    <section class="footer__containerContact">
      <h3 class="footer__contactTitle">Subscribe to our newsletter</h3>
      <p class="footer__contactText">
        For product announcements and exclusive insights
      </p>

      <form class="footer__contactEmail">
        <span class="footer__barEmail">
            <i class="fa-regular fa-envelope footer__iconEmail"></i>
          <input class="footer__inputEmail" type="email" placeholder="Input your email" />
        </span>
        <button class="footer__button">Subscribe</button>
      </form>

      <ul class="footer__containerRRSS">
        <li class="footer__rrssIcon"><i class="fa-brands fa-twitter"></i></li>
        <li class="footer__rrssIcon">
          <i class="fa-brands fa-facebook"></i>
        </li>
        <li class="footer__rrssIcon">
          <i class="fa-brands fa-linkedin"></i>
        </li>
        <li class="footer__rrssIcon"><i class="fa-brands fa-youtube"></i></li>
      </ul>
    </section>
  </footer>
  <!-- MODAL CART -->
  <div class="modalCart hidden">
    <section>
    <span class="container__Header-Modal">
      <h1>Yor Cart</h1>
      <button id="closeModal" class="cerrarX">X</button>
    </span>      
      <!--products-->!
      <section id="container-products" class="container-products">
        <figure>
          <img class="cards" src="/Assets/Checkout-payment/1Order-summary/1Luxury.png" alt="Luxury">
          <span class="infoProduct">
            <h3 class="nameProduct">Luxury Charms Ring</h3>
            <p class="code">Code: 78205</p>
            <p class="precio">$620.73</p>
          </span>          
          <span class="infoEdit">
            <button class="btnEditPedido"><img src="/Assets/Cart/editPedido.png" alt="btnEditPedido"></button>
            <p>x1</p>
          </span>
        </figure>
        <figure>
            <img class="cards" src="/Assets/Checkout-payment/1Order-summary/2Exquisite.png" alt="Exquisite">
            <span class="infoProduct">
            <h3 class="nameProduct">Exquisite Earrings</h3>
            <p class="code">Code: 92701</p>
            <p class="precio">$125.28</p>
          </span>
          <span class="infoEdit">
            <button class="btnEditPedido"><img src="/Assets/Cart/editPedido.png" alt="btnEditPedido"></button>
            <p>x1</p>
          </span>
        </figure>
        <figure>
          <img class="cards" src="/Assets/Checkout-payment/1Order-summary/3Delights.png" alt="Delights">
          <span class="infoProduct">
            <h3 class="nameProduct">Delights Earrings</h3>
            <p class="code">Code: 92701</p>
            <p class="precio">$327.71</p>
          </span>
          <span class="infoEdit">
            <button class="btnEditPedido"><img src="/Assets/Cart/editPedido.png" alt="btnEditPedido"></button>
            <p>x1</p>
          </span>
        </figure>
        <div class="totalContinue">
          <span>
            <h1>Total:</h1>
            <p>$621.75</p>
          </span>
          <button>Continue to check out</button>
        </div>
      </section>
    </section>
  </div>
  <!--<div id="contenedorCompra">
    <div class="informacionCompra" id="informacionCompra">
        <h2>Cesta</h2>
        <p class="x" id="x">x</p>
    </div>

    <div class="productosCompra" id="productosCompra"></div>
    <div class="total" id="total"></div>
    <button>Finalizar Compra</button>
</div>-->
  <script src="../scripts/modalCart.js"></script>

</body>

</html>