<!-- Sofi -> Our Product - Shop -->

<!-- HEADER --> 
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop</title>
        <link rel="stylesheet" href="/styles/products-listing.css">
    </head>

    <body>
        <header class="header">
            <h1 class="header__logo">Darling.</h1>
            <input type="checkbox" id="check">
            <label for="check" class="header__nav-mostrar-menu"> &#8801 </label>
            <nav class="header__nav">
              <ul class="header__nav-list">
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link">Home</a>
                </li>
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link header__nav-link--active">Shop</a>
                </li>
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link">Collection</a>
                </li>
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link">About</a>
                </li>
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link">Contact</a>
                </li>
                <li class="header__nav-item header__nav-item--profile">
                  <a href="#" class="header__nav-link">
                    <img src="/Assets/1Home-Page/0Header/Profile1.png" alt="Perfil" />
                  </a>
                </li>
                <li class="header__nav-item header__nav-item--cart">
                  <a href="#">
                    <img src="/Assets/1Home-Page/0Header/Shopping cart 1.png" alt="CarritoCompras" />
                  </a>
                </li>
              </ul>
              <label for="check" class="header__nav-esconder-menu"> &#215 </label>
            </nav>
        </header>

        <section class="OurProducts">
            <h1>Our Products</h1>
            <span class="search">
                <img src="/Assets/2Our-Products/1Search/Icono-Search.png" alt="iconSearch">
                <input type="text" placeholder="Find jewelry you like">
            </span>
        </section>

        <section class="products">
          <nav class="nav">
            <ul>
              <li class="nav__link-button"><a href="">All</a></li>
              <li><a href="">Rings</a></li>
              <li><a href="">Bracelets</a></li>
              <li><a href="">Necklaces</a></li>
              <li><a href="">Earrings</a></li>
            </ul>    
            <span>
              <select class="price__select" name="price" id="price__select">
                <option value="">Sort by price</option>
              </select> 
            </span>                        
          </nav>
          <br/>
          <div class="cards__fila1">
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 1-a page 2.png" alt="LuxuryGems">
              <figcaption>Luxury Gems Necklace</figcaption>
              <p>$168.76</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 2-a page 2.png" alt="AuroraRing">
              <figcaption>Aurora Ring</figcaption>
              <p>$125.28</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 3-a page 2.png" alt="ReflectionsNecklace">
              <figcaption>Reflections Necklace</figcaption>
              <p>$620.73</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 4-a page 2.png" alt="DreamyInfinityRing">
              <figcaption>Dreamy Infinity Ring</figcaption>
              <p>$327.71</p>
            </figure>
          </div>
          <div class="cards__fila2">
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 1-b page 2.png" alt="OpulentJewelsRing">
              <figcaption>Opulent Jewels Ring</figcaption>
              <p>$168.76</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 2-b page 2.png" alt="SereneSolitaireEarrings">
              <figcaption>Serene Solitaire Earrings</figcaption>
              <p>$168.76</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 3-b page 2.png" alt="TimelessHaloEarrings">
              <figcaption>Timeless Halo Earrings</figcaption>
              <p>$620.73</p>
            </figure>
            <figure class="cards">
              <img src="/Assets/2Our-Products/2Products_img/Img 4-b page 2.png" alt="ExquisiteEarrings">
              <figcaption>Exquisite Earrings</figcaption>
              <p>$327.71</p>
            </figure>
          </div>     
          <div class="cards__fila3-4">
            <div>
              <figure class="card">
                <img src="/Assets/2Our-Products/2Products_img/Img 1-2-c-c-d-d page 2.png" alt="TimelessEleganceRing">
                <figcaption>Timeless Elegance Ring</figcaption>
                <p>$168.76</p>
              </figure>  
            </div>            
            <div class="colum">
              <figure class="cards">
                <img src="/Assets/2Our-Products/2Products_img/Img 3-c page 2.png" alt="LuxuryCharmsRing">
                <figcaption>Luxury Charms Ring</figcaption>
                <p>$620.73</p>
              </figure>
              <figure class="cards cards__sep">
                <img src="/Assets/2Our-Products/2Products_img/Img 3-d page 2.png" alt="SparklingRing">
                <figcaption>Sparkling Ring </figcaption>
                <p>$620.73</p>
              </figure>              
            </div>    
            <div class="colum">
              <figure class="cards">
                <img src="/Assets/2Our-Products/2Products_img/Img 4-c page 2.png" alt="BlissfulBloomRing">
                <figcaption>Blissful Bloom Ring</figcaption>
                <p>$620.73</p>
              </figure>
              <figure class="cards cards__sep">
                <img src="/Assets/2Our-Products/2Products_img/Img 4-d page 2.png" alt="GlimmeringRing">
                <figcaption>Glimmering Ring</figcaption>
                <p>$620.73</p>
              </figure>
            </div>            
          </div>
            
          
            
               

          

        </section>

    </body>
    </html>