@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope&display=swap");
:root {
  --color-fondo-verde: #093931;
  --color-fondo-blanco: #ffffff;
  --color-primario: #f5d38e;
  --color-secundario: #0d554a;
  --color-terciario: #171a1f;
  --color-detalles: #424955;
}

/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
body {
  font-size: 100%;
}

/*0.HEADER*/
.header {
  background-color: var(--color-fondo-verde);
  height: 5.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: var(--color-primario);
  font-family: "Cormorant Garamond";
  font-size: 1.875rem;
  font-weight: 400;
  padding-left: 8.125rem;
  padding-right: 5rem;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  cursor: pointer;
  padding-right: 8rem;
}

.header__nav {
  font-family: "Manrope";
  font-size: .875rem;
  font-weight: 400;
}

.header__nav-link,
.header__nav-mostrar-menu,
.header__nav-esconder-menu {
  text-decoration: none;
  color: var(--color-fondo-blanco);
}

.header__nav-link--active {
  color: var(--color-primario);
  padding-bottom: .2rem;
  margin-bottom: .2rem;
  font-weight: 700;
  border-bottom: .125rem solid var(--color-primario);
}

.header__nav-link:hover,
.header__nav-mostrar-menu:hover,
.header__nav-esconder-menu:hover {
  color: var(--color-primario);
  font-weight: 700;
}

.header__nav-mostrar-menu,
.header__nav-esconder-menu {
  font-size: 1.875rem;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.header__nav-mostrar-menu {
  order: 1;
}

#check {
  display: none;
}


/*FORMULARIO*/

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  flex-direction: column;
  color: var(--color-terciario);
  margin: 40px;
}

.main__form {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: .625rem;
  padding: 1.875rem 2.5rem;
}

.main__form-description {
  padding-bottom: 2rem;
  font-family: "Cormorant Garamond";
}

.main__form-description h1 {
  font-size: 2.25rem;
  padding-bottom: .5rem;
  color: #0D554A;
  font-family: Cormorant Garamond;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 3.5rem; 
}

.main__form-description p {
  font-size: 1.125rem;
  font-weight: 600;
}

.main__form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1rem;

  color: var(--color-detalles);
  font-weight: 700;
  font-size: .75rem;
  font-family: "Manrope";
}

.main__form-date {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.main__date-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  color: var(--color-terciario);
}



.main__form-img {
  width: 2rem;
  height: 1rem;
  object-fit: contain;
}

.main__form-img--adjustment {
  width: rem;
  height: 1.5rem;
  border-radius: .3rem;
  object-fit: cover;
  object-position: top;
}

/* Input styles */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.main__form-container {
  width: 100%;
}

.form__input-img {
  width: 500px;
}

.form__input {
  background-color: rgb(13, 85, 74, .2);
  color: var(--color-terciario);
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: .3rem;
  padding-bottom: .5rem;
  border-radius: .2rem;
  border:  0;
  outline: none;
}

.main__button {
  display: inline-flex;
  padding: 7px 17.5px 7px 18.5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #F2C66D;
  color: #6B4A09;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  border: none;
}

.main__button:hover {
  color: var(--color-detalles);
  cursor: pointer;
}

/*estilos for Customer*/

.formCustomer {
  display: flex;
  flex-direction: column;
  font-family: 'Cormorant Garamond';
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 33px;
}

.formCustomer h1 {
  color: #0D554A;
  font-family: Cormorant Garamond;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 3.5rem; 
}

.formCustomer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.formCustomer label {
  padding-top: 10px;
}

.formCustomer input {
  margin-bottom: 20px;
  display: inline-flex;
  padding: 7px 132px 6px 12px;
  align-items: center;
  border-radius: 18px;
  border: 1px solid var(--color-fondo-verde);
  background: rgba(0, 0, 0, 0.00);
  color: var(--color-fondo-verde);
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
  outline: none;
  position: relative;
}

.formCustomer button {
  display: inline-flex;
  padding: 7px 17.5px 7px 18.5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #F2C66D;
  color: #6B4A09;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
  border: none;
} 


/*5.FOOTER*/

.footer {
  display: flex;
  height: 234px;
  align-items: center;
  background-color: #093931;
  justify-content: space-around;
}

.info__web h1 {
  color: #F5D38E;
  font-family: "Cormorant Garamond";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; 
}

.info__web figcaption {
  margin-top: 70px;
  display: flex;
  align-items: end;
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.footer__containerLinks {
  display: flex;  
  margin-right: 45px;
}

.footer__containerLinks li {
  list-style-type: none;  
  padding-bottom: 25%;  
}

.footer__containerLinks ul {
  padding-right: 45px;
}

.footer__containerLinks a {
  text-decoration: none;
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.footer__containerContact h3 {
  color: #FFF;
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.footer__containerContact p {
  color: #FAFAFB;
  font-family: 'Manrope';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.footer__containerContact {
  padding-top: 33px;
  padding-right: 55px;
}

.footer__contactEmail {
  padding-top: 10px;
  display: inline-flex;
}

.footer__contactEmail input{
  display: inline-flex;
  padding: 7px 132px 6px 12px;
  align-items: center;
  border-radius: 18px 0px 0px 18px;
  border: 1px solid #FFF;
  background: rgba(0, 0, 0, 0.00);
  color: #FFF;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  outline: none;
  position: relative;
}

.footer__contactEmail ::placeholder {
  padding: 30px;
}

.Email {
  display: flex;
  align-items: center;
}

.footer__contactEmail img {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 13px;
}

.footer__contactEmail button {
  display: inline-flex;
  padding: 7px 23.5px 7px 24.5px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 18px 18px 0px;
  border: none;
  background: #F2C66D;
  color: #6B4A09;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.footer__icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10%;
  margin-left: 286px;
}

.footer__icons img {
  padding-left: 15px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  object-fit: contain;
}


/*---------------------------------------RESPONSIVE*/

@media only screen and (max-width: 960px){
  /*0.HEADER*/

.header__nav-mostrar-menu,
.header__nav-esconder-menu {
 display:block;
}

.header__nav {
 position: fixed;
 width: 100%;
 height: 100vh;
 background: #093931;
 right: -100%;
 top: 0;
 text-align: center;
 padding: 6.25rem 0rem;
 z-index: 100;
 transition: 0.8s;
}

.header__nav-list {
 display: block;
 padding: 1.875rem;
}

.header__nav-list a { /*rev*/
 display: flex;
 gap: 1.25rem 0;
}

.header__nav-mostrar-menu
{
position: absolute;
top: 1.875rem;
right: 2.5rem;
}

.header__nav-esconder-menu {
 position: absolute;
 top: 2.5rem;
 right: 2.5rem;
}

#check:checked ~ .header__nav {
 right: 0;
}

@media only screen and (max-width: 1037px){ 
  /*FOOTER*/
  .footer {
    display: block;
    justify-content: center;
    height: 534px;
    padding: 34px;
  }

  .footer__containerLinks {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 467px){ 
  .footer__contactEmail input{
    padding: 7px 13px 6px 12px;
  }
  .footer__icons {
    margin-left: 10px;
  }
}

}