@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope&display=swap");
:root {
  --color-fondo-verde: #093931;
  --color-fondo-blanco: #ffffff;
  --color-primario: #f5d38e;
  --color-secundario: #0d554a;
  --color-terciario: #171a1f;
  --color-detalles: #424955;
}

/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
body {
  font-size: 100%;
}

/*0.HEADER*/
.header {
  background-color: var(--color-fondo-verde);
  height: 5.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: var(--color-primario);
  font-family: "Cormorant Garamond";
  font-size: 1.875rem;
  font-weight: 400;
  padding-left: 8.125rem;
  padding-right: 5rem;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  cursor: pointer;
  padding-right: 8rem;
}

.header__nav {
  font-family: "Manrope";
  font-size: .875rem;
  font-weight: 400;
}

.header__nav-link,
.header__nav-mostrar-menu,
.header__nav-esconder-menu {
  text-decoration: none;
  color: var(--color-fondo-blanco);
}

.header__nav-link--active {
  color: var(--color-primario);
  padding-bottom: .2rem;
  margin-bottom: .2rem;
  font-weight: 700;
  border-bottom: .125rem solid var(--color-primario);
}

.header__nav-link:hover,
.header__nav-mostrar-menu:hover,
.header__nav-esconder-menu:hover {
  color: var(--color-primario);
  font-weight: 700;
}

.header__nav-mostrar-menu,
.header__nav-esconder-menu {
  font-size: 1.875rem;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.header__nav-mostrar-menu {
  order: 1;
}

#check {
  display: none;
}

/*MODAL CART*/
#btnCart {
  cursor: pointer;
}

.modalCart {    
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #05050549;
  /* visibility: hidden; */
}

.hidden{
  display: none;
}
.show{
  display: flex;
}

.modalCart section {    
  width: 440px;
  height: 100%;
  background-color: white;
}

.container__Header-Modal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.container__Header-Modal h1 {
  width: 146px;
  height: 56px;
  font-family: 'Cormorant Garamond';
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  color: #0D554A;  
}

.cerrarX {
  width: 24px;
  height: 24px;
  color: #323842;
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}

/*Products modal cart*/

.container-products {
  display: flex;
  flex-direction: column;
}

.container-products figure {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 368px;
  height: 94px;
  margin-top: 20px;
}


.cards {
  width: 94px;
  height: 94px;
  border-radius: 6px;
  margin-left:30px;  
}

.nameProduct {
  font-family: Cormorant Garamond;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  width: 133px;
  height: 26px;
  color: #323842;  
}

.code {
  font-family: Manrope;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  color: #9095A0;
  width: 65px;
  height: 18px;
}

.precio {
  width: 52px;
  height: 22px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #171A1F;  
}

.btnEditPedido {
  margin-bottom: 25px;
  background-color: transparent;
  border-color: transparent;
}

.infoProduct {
  margin-right: 80px;
}

.infoEdit p {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #171A1F;
  width: 13px;
  height: 22px;  
}

.totalContinue {
  margin: 30px;
}

.totalContinue span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;
}

.totalContinue h1 {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  width: 37px;
  height: 22px;
  color: #171A1F;  
}

.totalContinue p {
  font-family: Cormorant Garamond;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  width: 54px;
  height: 30px;  
}

.totalContinue button {
  background-color: #0D554A;
  width: 368px;
  height: 52px;
  padding: 12px, 91.5px, 12px, 91.5px;
  border-radius: 26px;
  border: none;
  text-decoration: none;   
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;   
  color: #FFFFFF;  
}

/*----------------------------------------*/

/* Main */

.main__container {
  margin-left: 132px;
  margin-top: 80px;
  margin-right: 153px;
  height: 826px;
}

.main__nav {
  height: 24px;
}

.main__nav-list {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.main__nav-link {
  text-decoration: none;
  color: var(--color-secundario);
}

.main__link-arrows {
  padding-left: 23.5008px;
  padding-right: 23.5008px;
  color: var(--color-detalles);
}


/* Contenedor de la card en el Js */

.section__products-details {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
} 

/* Imagenes */

.section-product {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.section-product__container-img {
  display: flex;
}

.section-product__figure-first {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-product__reference-img {
  width: 62px;
  height: 84px;
  border-radius: .25rem;
  object-fit: fill;
  cursor: pointer;
}

.section-product__reference-img--active {
  border-radius: .25rem;
  border: .0625rem solid var(--color-secundario);
}

.section-product__ring-img {
  width: 477px;
  height: 636px;
  border-radius: .5rem;
}

.section-product__figure-second {
  position: relative;
  margin-left: 10px;
}
.section-product__favorite-icon {
  position: absolute;
  left: 94%;
  top: 2%;
  font-size: 19.2px;
  cursor: pointer;
}

/* Especificaciones de los productos */
/* .section-product__container-product-specifications {
  margin-left: 32px;
} */

.section-product__title {
  color: var(--color-secundario);
  font-family: Cormorant Garamond;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.section-product__code {
  color: #323842;
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.section-product__price {
  font-family: 'Manrope';
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.section-product__color-product {
  color: var(--color-detalles);
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.section-product__containerCircles {
  display: flex;
  gap: 16px;
  padding-top: 2px;
  padding-bottom: 12px;
}
.section-product__circle {
  width: 36px;
  height: 36px;
  background-color: #dee1e6;
  border-radius: 50%;
}
.section-product__circle--active {
  background-color: #e6ae87;
  border: .0625rem solid var(--color-secundario);
}

/* Talla de los productos */
.section-product__description-size {
  display: flex;
  justify-content: space-between;
}

.section-product__size {
  color: var(--color-detalles);
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.section-product__question {
  color: var(--color-detalles);
  font-family: 'Manrope';
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-decoration-line: underline;
  cursor: pointer;
}

.section-product__size-button {
  border-radius: .25rem;
  border: .0625rem solid #565e6c;
  background: #fff;

  padding: 4px 8px;

  color: #565e6c;
  font-family: 'Manrope';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  cursor: pointer;
}

.section-product__size-button--active {
  border: .0625rem solid #8f640c;
  color: #8f640c;
}

/* Cantidad requerida */
.section-product__container-quantity {
  padding-bottom: 25px;
}
.section-product__required-quantity {
  color: #424955;

  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 4px;
}

.section-product__button-quantity {
  margin-right: 8px;
  width: 41px;
  height: 44px;
  padding: 9px 0 8px 0;
  border-radius: .25rem;
  background: #f3f4f6;
  border: .0625rem solid #f3f4f6;

  color: var(--color-terciario);

  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  cursor: pointer;
}

/* Botones de compra */
.section-product__container-buy {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.section-product__add-buy {
  width: 240px;
  height: 54px;
  display: inline-flex;
  padding: 12px 53.5008px;
  gap: 2.2px;
  justify-content: center;
  align-items: flex-end;

  border-radius: 1.625rem;
  border: .0625rem solid var(--color-secundario);

  background: #fff;

  cursor: pointer;
}
.section-product__cart-buy {
  width: 24px;
  height: 24px;
}
.section-product__text-button {
  color: var(--color-secundario);

  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.section-product__buy-now {
  width: 240px;
  height: 54px;
  padding: 12px 70px;
  border: .0625rem solid var(--color-secundario);
  border-radius: 26px;
  background: var(--color-secundario);

  color: #fff;

  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  cursor: pointer;
}

/* Opciones de pago */
.section-product__container-payment-options {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-product__payment-options {
  height: 44px;
}

.section-product__payment-select {
  width: 232px;

  margin-right: 16px;

  outline: none;
  border: 0;
  background-color: #00ff0000;
  border-bottom: .0625rem solid #9095a0;

  color: var(--color-terciario);

  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  cursor: pointer;
}


/* SECTION -> Exquisite elegance and timeless charm */

.section-description {
  border-radius: .5rem;
  background: #fafafb;
  width: 70rem;
}
.section-description__container-information {
  margin: 3rem 4.5rem 2.875rem;
  padding-top: 48px;
}
.section-description__subtitle {
  color: #323842;
  font-family: 'Manrope';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  padding-bottom: 1.5rem;
}
.section-description__title {
  color: var(--color-secundario);
  font-family: Cormorant Garamond;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;

  padding-bottom: .75rem;
}
.section-description__text {
  color: #323842;
  font-family: 'Manrope';
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.section-description__container-video {
  margin: 0 4.5rem 4.5rem;
  justify-content: center;
  align-items: center;
}

.section-description__video-img {
  border-radius: .5rem;
  background: lightgray 0rem -28.625rem / 100% 202.065% no-repeat;
  object-fit: fill;
  filter: brightness(0.98);
  width: 100%;

  margin-bottom: 4rem;
}

/* Section about us */
.main__about-us {
  position: relative;
  top: 56rem;
}

.section-about {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 114px;
  background-color: #fff;
}

.section-about__container-information {
  width: 17rem;
}

.section-about__container-img {
  text-align: center;
}

.article-about__img {
  width: 3.875rem;
height: 3.875rem;
}


.section-about__title {
  color: #171A1F;
text-align: center;
font-family: Cormorant Garamond;
font-size: 18px;
font-weight: 600;
line-height: 28px;
}

.section-about__text {
  color: #9095A0;
text-align: center;
font-family: 'Manrope';
font-size: 16px;
font-weight: 400;
line-height: 26px;
}


/* Section Other Products - You may also like*/

.section-other-products {
  margin: 3rem 0 3rem 8.25rem;
}
.section-other-products__container-cards {
  display: flex;
  gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.section-other-products__container-card {
  width: 17.5rem;
height: 25.625rem;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
overflow: hidden;

}

.section-other-products__title {
  color: #0D554A;
font-family: Cormorant Garamond;
font-size: 2.5rem;
font-weight: 600;
line-height: 3.5rem; 
}
.section-other-products__img {
  width: 17.25rem;
height: 20rem;
border-radius: 8px 8px 0 0;
flex-shrink: 0;
object-fit: cover;
}
.section-other-products__text {
  padding: 12px 10px 12px 18px;
}
.section-other-products__subtitle {
  color: #171A1F;
font-family: Cormorant Garamond;
font-size: 1.5rem;
font-weight: 700;
line-height: 2rem;
}
.section-other-products__price {
  color: #171A1F;
font-family: 'Manrope';
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem; 
}

/* Section Testimony - From the people */

.section-testimony {
  background: #093931;
  height: 35rem;
  padding: 8.25rem 0px 8.25rem 4.6875rem;
  display: flex;
  overflow: hidden;
}

.section-testimony__description {
  padding-right: 169px;
}
.section-testimony__title {
  width: max-content;
  margin-top: 97px;
  color: #FFF;
font-family: Cormorant Garamond;
font-size: 48px;
font-weight: 600;
line-height: 68px;
}
.section-testimony__text {
  padding-top: 12px;
  width: 264px;
  color: #FFF;
font-family: 'Manrope';
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.section-testimony__container-img {
  width: 696px;
height: 375px;
border-radius: 8px;
background: rgba(23, 26, 31, 0.30);

display: flex;
}
.section-testimony__img {
  width: 300px;
height: 375px;
border-radius: 8px 0 0 8px;
}
.section-testimony__testimony {
  padding: 36px 36px 60px 59px;

  color: #FFF;
font-family: 'Manrope';
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.section-testimony__person {
  color: #FFF;
font-family: 'Manrope';
font-size: 20px;
font-weight: 700;
line-height: 30px; 
}
.section-testimony__country {
  color: #FFF;
font-family: 'Manrope';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.section-testimony__container-arrows {
  margin-left: 1rem;
  margin-top: 2.4rem;
  text-align: right;
}
.section-testimony__arrow 
{
  border: solid 1px #fff;
  border-radius: 100%;
  padding: .5rem 1rem;
  font-size: 1.9375rem;
}
.fa-angle-left{
  margin-right: 18px;
}

/* Footer */
.footer {
  position: relative;
  top: 56rem;

  background-color: var(--color-fondo-verde);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  color: var(--color-fondo-blanco);

  height: 14.625rem;
}

.footer__containerLogo {
  list-style: none;
  cursor: pointer;
}

.footer_logo {
  color: var(--color-primario);
  font-family: Cormorant Garamond;
  font-size: 1.875rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 5.8125rem;
}

.footer__copyright {
  font-size: var(--tamaño-enlaces);
  font-weight: var(--peso-secundario);
}

.footer__firtsLinks {
  cursor: pointer;
  list-style: none;
  font-family: 'Manrope';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.footer__secondLinks {
  cursor: pointer;
  list-style: none;
  font-family: 'Manrope';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.footer__links {
  padding-bottom: 0.75rem;
}

.footer__links--hover:hover {
  color: var(--color-precio-destacado);
}

.footer__contactTitle {
  font-family: Cormorant Garamond;
  font-size: 1.25rem;
  font-weight: 400;
}

.footer__contactText {
  font-family: 'Manrope';
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 2;
  padding-bottom: 1rem;
}

.footer__contactEmail {
  width: 100%;
  display: flex;
}

.footer__barEmail {
  display: inline-flex;
  width: 10.5625rem;
  height: 1.875rem;
  padding: 0.4375rem 8.25rem 0.375rem 0.75rem;
  align-items: center;
  gap: 0.375rem;

  border-radius: 1.125rem 0rem 0rem 1.125rem;
  border: 0.0625rem solid var(--color-fondo-blanco);
  background: rgba(0, 0, 0, 0);
}

.footer__iconEmail {
  padding-left: 0.75rem;
  padding-right: 0.375rem;
  font-size: 1rem;
  color: var(--color-fondo-blanco);
}
input[type="email"]::placeholder {
  color: var(--color-fondo-blanco);
}
.footer__inputEmail {
  color: var(--color-fondo-blanco);
  font-family: 'Manrope';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  background-color: inherit;
  outline: none;
  border: none;
}

.footer__button {
  font-family: 'Manrope';
  font-size: 0.875rem;
  font-weight: 400;
  display: inline-flex;
  padding: 0.4375rem 1.4688rem 0.4375rem 1.5313rem;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border-radius: 0rem 1.125rem 1.125rem 0rem;
  background: #F2C66D;
  color: #6B4A09;;
}

.footer__containerRRSS {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 3.75rem;
}

.footer__rrssIcon {
  font-size: 1.5rem;
  padding-top: 2.3125rem;
  margin-right: 1rem;
}

.footer__rrssIcon {
  transition: all 0.2s ease-in-out;
}

.footer__rrssIcon:hover {
  transform: scale(1.1);
  color: var(--color-precio-destacado);
}




@media screen and (max-width: 999px) {
  .footer {
    top: 86rem;
  }
}
@media screen and (max-width: 879px) {
  .footer {
    top: 82rem;
  }
}
@media screen and (max-width: 784px) {
  .footer {
    top: 65rem;
  }
}
@media screen and (max-width: 772px) {
  .footer {
    top: 60rem;
  }
}
@media screen and (max-width: 768px) {
  .footer {
      width: 100%;
      height: max-content;
      padding: 0;
      margin-left: 0;
  
      flex-direction: column;
    }
  
    .footer__containerLogo {
      text-align: center;
      padding-bottom: 1rem;
    }
  
    .footer_logo {
      font-size: 1.875rem;
      margin-top: 0rem;
      margin-bottom: 1rem;
    }
  
    .footer__firtsLinks {
      width: 90%;
      text-align: center;
    }
  
    .footer__secondLinks {
      width: 90%;
      text-align: center;
    }
  
    .footer__links {
      border: 1px solid var(--color-fondo-blanco);
      padding: 0.625rem;
    }
  
    .footer__links:hover {
      border: 1px solid var(--color-fondo-verde);
      background-color: var(--color-primario);
      color: var(--color-fondo-boton);
      font-weight: 700;
    }
  
    .footer__containerContact {
      padding-top: 2rem;
      text-align: center;
    }
  
    .footer__containerRRSS {
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      margin: 0 1rem;
      line-height: -1;
    }
}
 
@media (max-width: 480px) {
  .footer {
      width:100%;
      height: max-content;
  
      flex-direction: column;
    }
  
    .footer__containerLogo {
      text-align: center;
      padding-bottom: 1rem;
    }
  
    .footer_logo {
      font-size: 1.875rem;
      margin-top: 0rem;
      margin-bottom: 1rem;
    }
  
    .footer__firtsLinks {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .footer__secondLinks {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .footer__links {
      border: none;
      border-bottom: 1px solid var(--color-fondo-blanco);
      width: 80%;
      padding: 0.625rem;
    }
  
    .footer__links:hover {
      border: 1px solid var(--color-fondo-verde);
      background-color: var(--color-primario);
      color: var(--color-fondo-boton);
      font-weight: 700;
    }
  
    .footer__containerContact {
      padding-top: 2rem;
      text-align: center;
    }
  
    .footer__containerRRSS {
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      margin: 0 1rem;
      line-height: -1;
    }
  
    .footer__contactEmail {
      width: 19%;
    }
  
    .footer__barEmail {
      display: inline-flex;
      width: 100%;
      height: 1.2rem;
      padding: 0.45rem 8.25rem 0.375rem 0.75rem;
      align-items: center;
      gap: 0.5rem;
      margin-left: 2.4rem;
    }
  
    .footer__iconEmail {
      padding-left: 0.75rem;
      padding-right: 0.375rem;
      font-size: 1rem;
    }
  
    .footer__inputEmail {
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 1.375rem;
      background-color: inherit;
      outline: none;
      border: none;
    }
  
    .footer__button {
      font-size: 0.7rem;
      padding: 0.5rem 1.5rem 0.5rem 1.6rem;
      justify-content: center;
      align-items: center;
  
      width: 100%;
  
      border-radius: 0rem 1.125rem 1.125rem 0rem;
      background: var(--color-texto-boton);
      color: var(--color-fondo-boton);
    }
}



@media screen and (max-width: 1254px) {
  .section-other-products__container-cards {
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (max-width: 784px) {
  .main__about-us {
    top: 65rem;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 880px) and (max-width: 999px) {
  .main__about-us {
    top: 88rem;
    padding-bottom: 0;
    flex-wrap: wrap;
    padding: 2rem;
  }
  .section-about__container-img {
    width: 13.6rem;
  }
}

@media screen and (min-width: 785px) and (max-width: 879px) {
  
  .main__about-us {
    top: 84rem;
    padding-bottom: 0;
    padding: 2rem;
  }

  .section-about__container-img {
    width: 13.6rem;
  }
}

@media screen and (max-width: 771px) {
  .main__about-us {
    top: 64rem;
    padding-bottom: 0;
    padding: 0;
  }

  .section-about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-about__container-img {
    width: 20rem;
    gap: 2rem;
  }
}

@media screen and (min-width: 629px) and (max-width: 770px) {
  .main__about-us {
    top: 60rem;
    padding: 0;
  }
}

@media screen and (min-width: 575px) and (max-width: 600px) {
  .main__about-us {
    top: 73rem;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1310px) {
  .section-product {
    display: flex;
    justify-content: space-evenly;
  }

  .section-product__title {
    line-height: 2.4rem;
    padding-bottom: .25rem;
  }
  .section-product__container-size {
    width: 16rem;
  }

  .section-product__container-button-size {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .3rem;
  }

  .section-product__container-buy {
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
  }

  .section-product__payment-select {
    width: 100%;
  }

  .section-testimony__testimony {
    padding: 2.25rem 2.25rem 1.875rem 1.8125rem;
    width: 44%;
    font-size: .9375rem;
    line-height: 1rem;
}
.section-testimony__container-arrows {
  margin-top: .7rem;
}

.section-testimony__description {
  padding-right: 6rem;
}
}

@media screen and (min-width: 629px) and (max-width: 1113px) {
  .section-testimony {
    padding: 0;
    padding: 1rem;
    height: max-content;
    padding-bottom: 79px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .section-testimony__description {
    padding-right: 0;
    text-align: center;
    width: 100%;
}
.section-testimony__title {
  width: 100%;
}
.section-testimony__text {
  width: 100%;
}
.section-testimony__testimony {
  padding: 2.25rem 2.25rem 1.875rem 1.8rem;
}
}

@media screen and (max-width: 628px) {

  .section-testimony {
    padding: 0;
    height: max-content;
    padding-bottom: 79px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .section-testimony__description {
    padding-right: 0;
    text-align: center;
    width: 100%;
}
.section-testimony__title {
  width: 100%;
}
.section-testimony__text {
  width: 100%;
}
.section-testimony__testimony {
  padding: 2rem 2rem 1rem 1.8rem;
}

.section-testimony__container-arrows {
  margin-top: .7rem;
} 
}

@media screen and (max-width: 615px) {
  .section-testimony__container-img {
    height: max-content;
    flex-direction: column;
    align-items: center;
}
.section-testimony__img {
  border-radius: 8px;
  margin-top: 3rem;
}
}


@media screen and (min-width: 785px) and (max-width: 999px) {
  .section-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .section-product__container-product-specifications {
    margin: 2rem;
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .header__nav-mostrar-menu,
  .header__nav-esconder-menu {
    display: block;
  }

  .header__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #093931;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 6.25rem 0rem;
    z-index: 100;
    transition: 0.8s;
  }

  .header__nav-list {
    display: block;
    padding: 1.875rem;
  }

  .header__nav-list a {
    /*rev*/
    display: flex;
    gap: 1.25rem 0;
  }

  .header__nav-mostrar-menu {
    position: absolute;
    top: 1.875rem;
    right: 2.5rem;
  }

  .header__nav-esconder-menu {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
  }

  #check:checked ~ .header__nav {
    right: 0;
  }
}

@media screen and (max-width: 770px) {
  .section-product__figure-second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .section-product__ring-img {
    width: 55%;
    height: 80%;
  }
  .section-product__favorite-icon {
    left: 70%;
    top: 15%;
    font-size: 19.2px;
    cursor: pointer;
  }
  .section-description__title {
    font-size: 30px;
    line-height: 32px;
  }
  .section-description__text {
    font-size: 16px;

    line-height: 28px;
  }
}

@media screen and (max-width: 570px) {
  .section-product__favorite-icon {
    left: 66%;
    top: 15%;
    font-size: 19.2px;
    cursor: pointer;
  }
  .main__nav-list {
    font-size: 12.8px;
    line-height: 16px;
  }
  .main__link-arrows {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 510px) {
  .main__link-arrows {
    display: none;
  }
  .main__nav-list {
    list-style-type: circle;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .section-product__title {
    font-size: 16px;
    line-height: 32px;
  }
  .section-product__price {
    font-size: 9.6px;
    line-height: 32px;
  }

  .section-product__text-button {
    font-size: 12.8px;
  }
  .section-product__buy-now {
    font-size: 12.8px;
  }
}
@media screen and (min-width: 484px) and (max-width: 784px) {
  .section-product {
    height: 972px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  .section-product__figure-first {
    display: none;
  }
  .section-product__container-product-specifications {
    margin: 32px;
    width: 100%;
    margin-bottom: 320px;
  }

  .section-product__title {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 4px;
  }
  .section-product__price {
    font-size: 28.8px;
    line-height: 40px;
  }
  .section-product__container-size {
    width: 100%;
    padding-bottom: 2%;
  }

  .section-product__container-button-size {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 6.4px;
  }

  .section-product__container-buy {
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .section-product__add-buy,
  .section-product__buy-now {
    width: 100%;
  }
  .section-product__payment-select {
    width: 100%;
  }
}
