@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope&display=swap");
:root {
    --color-fondo-verde: #093931;
    --color-fondo-blanco: #ffffff;
    --color-primario: #f5d38e;
    --color-secundario: #0d554a;
    --color-terciario: #171a1f;
}
  
  /*GENERAL*/
* {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
  html {
    font-size: 100%;
  }
  body {
    font-size: 100%;
  }

  /*0.HEADER*/
.header {
    background-color: var(--color-fondo-verde);
    height: 5.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    color: var(--color-primario);
    font-family: "Cormorant Garamond";
    font-size: 1.875rem;
    font-weight: 400;
    padding-left: 8.125rem;
    padding-right: 5rem;
  }

  .header__nav-list{
    list-style: none;
    display: flex;
    gap:2.5rem;
    align-items: center;
    cursor: pointer;
    padding-right: 8rem;
}

.header__nav {
    font-family: "Manrope";
    font-size: .875rem;
    font-weight: 400;
}
  
  .header__nav-link,
  .header__nav-mostrar-menu,
  .header__nav-esconder-menu {
    text-decoration: none;
    color: var(--color-fondo-blanco);
  }
  
  .header__nav-link--active {
    color: var(--color-primario);
    padding-bottom: .625rem;
    font-weight: 700;
    border-bottom: .125rem solid var(--color-primario);
  }
  
  .header__nav-link:hover,
  .header__nav-mostrar-menu:hover,
  .header__nav-esconder-menu:hover {
    color: var(--color-primario);
    font-weight: 700;
  }
  
  .header__nav-mostrar-menu,
  .header__nav-esconder-menu{
    font-size: 1.875rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
  }
  
  .header__nav-mostrar-menu {
    order: 1;
  }
  
  #check{
    display: none;
  }

  /*1.SEARCH*/

  .OurProducts {
    height: 28.125rem;
    background-color: var(--color-fondo-verde);
    background-image: url(/Assets/2Our-Products/1Search/olas_blancas2.png);
  }

  .OurProducts h1 {
    color: #F5D38E;
    text-align: center;
    font-family: 'Cormorant Garamond';
    font-size: 3.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.125rem; 
    padding-top: 5.625rem;
    padding-bottom: 1.5625rem;
  }

  .search {
    display: flex;
    padding: .75rem .3125rem .6875rem 1.25rem;
    align-items: center;
    gap: .5rem;
    border-radius: 1.625rem;
    border: .0625rem solid #F8F9FA;
    background: #FFF;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
      
  }

  .search input {
    color: #323842;
    font-family: 'Manrope';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    outline: none;
    border: none;
    background-color: inherit; 
    width: 100%
  }

  /*2.PRODUCTS */

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
  }

  .nav ul {
    list-style: none;
    display: flex;
    align-items:start;
    padding-left: 7rem;
  }

  .nav ul li {
    border-right: .0625rem solid #9AEFE2;
  }

  .nav a {
    color: #0D554A;
    font-family: Manrope;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding: .5rem 0rem;
    display: flex;
    width: 9.2875rem;    
    justify-content: center;
    align-items: center;
  }

  .nav__link-button {    
    background-color: #0D554A;
    border-radius: 1.1875rem;
  }

  .nav__link-button a {
    color: #FFF;
  }

  .nav span {
    padding-right: 7rem;
  }

  .price__select {
    width: 8.625rem;
    height: 2.25rem;
    border-radius: .25rem .25rem 0rem 0rem;
    background: rgba(0, 0, 0, 0.00);
    color: #171A1F;
    font-family: Manrope;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
  }

  #price__select {
    border: 0rem solid #ddd; 
    border-bottom: .0625rem solid #9095A0;;
    outline: none;
  }

  .products {
    height: 186.5625rem;
  }

  .products figure{
    background: #FFF; 
    border-radius: .5rem;
    background: #FFF;
    box-shadow: 0rem 0rem .0625rem 0rem rgba(23, 26, 31, 0.07), 0rem 0rem .125rem 0rem rgba(23, 26, 31, 0.12);
  }

  .cards {
    width: 17.25rem;
    height: 25.25rem;
    margin-right: 1.4375rem;
  }

  .card {
    width: 36rem;
    height: 51.625rem;
    margin-right: 1.4375rem;
  }

  .cards figcaption {
    color: #171A1F;
    font-family: Cormorant Garamond;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem; /* 150% */
    padding-left: .9375rem;
  }

  .cards p, .card p {
    color: #171A1F;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
    padding-left: .9375rem;
  }

  .card figcaption {
    color: #171A1F;
    font-family: Cormorant Garamond;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.625rem; /* 150% */
    padding-left: .9375rem;
  }

  .cards__fila1, .cards__fila2, .cards__fila3-4 {
    display: flex;
    margin-left: 4.375rem;
    margin-top: 2.8125rem;
  }

  .cards__sep {
    margin-top: 1.125rem;
  }    

  /*-----------------------------------RESPONSIVE*/

  @media only screen and (max-width: 960px){
     /*0.HEADER*/

  .header__nav-mostrar-menu,
  .header__nav-esconder-menu {
    display:block;
  }

  .header__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #093931;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 6.25rem 0rem;
    z-index: 100;
    transition: 0.8s;
  }

  .header__nav-list {
    display: block;
    padding: 1.875rem;
  }

  .header__nav-list a { /*rev*/
    display: flex;
    gap: 1.25rem 0;
  }

  .header__nav-mostrar-menu
  {
  position: absolute;
  top: 1.875rem;
  right: 2.5rem;
  }

  .header__nav-esconder-menu {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
  }

  #check:checked ~ .header__nav {
    right: 0;
  }
  }

@media only screen and (max-width: 662px){

 /*1.SEARCH*/
 .OurProducts h1 {
    padding-left: 80px;
 }
}

@media only screen and (max-width: 1074px){ 
  /*2.PRODUCTS__NAV */

  .nav ul {
    padding-left: 4rem;
  }

  .nav a {
    width: 130px;  
  }
}

@media only screen and (max-width: 990px){ 

  /*2.PRODUCTS__NAV */
 
  .nav ul {
    display: block;    
    height: 1.875rem;
  }

  .nav {
    gap: 15px;
    height: 200px;
    align-items:baseline;
    padding-top: 60px;
  }
}

@media only screen and (max-width: 1074px){ 

  /*2.PRODUCTS__NAV */
  .cards__fila3-4 {
    display: block;
  }

  .colum {
    display: flex;
  }

  .colum figure {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 546px){ 

  .card, .cards {
    margin-right: 10px;
  }

  .products {
    margin-left: -40px;
  }
}