@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope&display=swap");

:root {
  /* ============================ Paleta de colores ============================== */

  /* Fondo de la section de bienvenida y el footer */
  --color-fondo-verde: #093931;
  /* Fondo del main, titulos de las colecciones y letra sin hoover del nav bar y footer */
  --color-fondo-blanco: #ffffff;
  /* Color de h1, iconos y enlaces en hover del nav */
  --color-primario: #f5d38e;
  /* Títulos dentro del main, botones con fondo blanco */
  --color-secundario: #0d554a;
  /* Titulos de los subtitulos, productos destacados y del order sumary */
  --color-terciario: #171a1f;
  /* Color de los precios */
  --color-precio: #9095a0;
  /* de los párrafos */
  --color-texto: #424955;
  /* Fondo del botón subscribe */
  --color-fondo-boton: #6b4a09;
  /* Texto del botón subscribe */
  --color-texto-boton: #f2c66d;
  /* Precios destacados */
  --color-precio-destacado: #b37d10;
}

/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html { font-size: 100%;}
body { font-size: 100%;}

/*0.HEADER*/
.header {
  background-color: var(--color-fondo-verde);
  height: 5.125rem;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}

.header__logo {
  color: var(--color-primario);
  font-family: "Cormorant Garamond";
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.875rem;
  margin-top: .75rem;
  padding: .625rem 8.125rem;
}

.header__nav {
  font-family: "Manrope";
  font-size: .875rem;
  font-weight: 400;
  padding: 2.1875rem .3125rem;
  margin-left: 21.25rem;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 2.3125rem;
  cursor: pointer;
}

.header__nav-link,
.header__nav-mostrar-menu,
.header__nav-esconder-menu {
  text-decoration: none;
  color: var(--color-fondo-blanco);
}

.header__nav-link--active {
  color: var(--color-primario);
  padding-bottom: .625rem;
  font-weight: 700;
  border-bottom: .125rem solid var(--color-primario);
}

.header__nav-link:hover,
.header__nav-mostrar-menu:hover,
.header__nav-esconder-menu:hover {
  color: var(--color-primario);
  font-weight: 700;
}

.header__nav-mostrar-menu,
.header__nav-esconder-menu{
  font-size: 1.875rem;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.header__nav-mostrar-menu {
  order: 1;
}

#check{
  display: none;
}

/*1. BIENVENIDA*/
.bienvenida {
  background-color: var(--color-fondo-verde);
  height: 51.3125rem;
  background-image: url(/Assets/1Home-Page/1Bienvenida/TEXTURA-olas_\ blancas.png);
  background-repeat: repeat-x;
  display: flex;
  flex-wrap: nowrap;
  /*alinear*/
}

.bienvenida--text {
  color: var(--color-primario);
  font-family: "Cormorant Garamond";
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.875rem;
  width: 33.5625rem;
  padding: 12.5rem 8.125rem;
}

.bienvenida--boton {
  display: inline-flex;
  text-decoration: none;
  padding: .75rem 3.6875rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.625rem;
  border: .0625rem solid var(--color-fondo-blanco);
  /*"oculta" funcionalidad*/
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-fondo-blanco);
  font-family: Manrope;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  position: relative;
  top: -11.5rem;
  left: 8.75rem;
}

.bienvenida--boton:hover {
  border: .0625rem solid var(--color-texto-boton);
}

.aside--figure img {
  width: 25.4375rem;
  height: 33.9375rem;
  object-fit: fill;
  flex-shrink: 0;
  border-radius: .5rem;
  position: relative;
  top: 5.25rem;
  left: 3.75rem;
}

.aside--figure-vd img {
  position: absolute;
  z-index: 1;
  top: 18.75rem;
  left: 65.625rem;
  width: 15.0625rem;
  height: 20.0625rem;
  flex-shrink: 0;
  border-radius: 7.5625rem 7.5625rem 0rem 0rem;
  background: lightgray 0px -1.1875rem / 100% 112.15% no-repeat;
  box-shadow: 0rem .5rem 1.0625rem 0rem rgba(23, 26, 31, 0.15),
    0rem 0rem .125rem 0rem rgba(23, 26, 31, 0.12);
}

.aside--boton {
  position: absolute;
  z-index: 1;
  top: 28.125rem;
  left: 71.875rem;
  display: flex;
  width: 3.25rem;
  height: 3.25rem;
  padding: .6563rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1.625rem;
  border: .0625rem solid #effdfa;
  background: rgba(0, 0, 0, 0);
}

.aside--boton:hover {
  border: .0625rem solid var(--color-texto-boton);
}

/*2. SERVICIOS*/
.servicios {
  display: flex;  
  flex-wrap: nowrap;
  /*alinear*/
  align-items: center;
  justify-content: space-around;
  height: 14.5rem;
}

.servicios--article {
  width: 17.25rem;
}

.servicios h4 {
  color: var(--color-terciario);
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.servicios figure {
  align-items: center;
  padding: 0rem 6.875rem;
  width: 3.875rem;
  height: 3.875rem;
  flex-shrink: 0;
}

.servicios p {
  color: var(--color-precio);
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

/*3. PRODUCTOS*/
.sectionFeaturedProducts {
  height: 34.625rem;
  padding: 0 8.75rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-fondo-blanco);
  overflow: hidden;
}

.sectionFeaturedProducts__description {
  padding: .625rem 3.75rem 3rem;
  width: 16.5rem;
}

.sectionFeaturedProducts__title {
  color: var(--color-secundario);
  font-family: Cormorant Garamond;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  display: flex;
}

.sectionFeaturedProducts__text {
  margin-top: .75rem;
  margin-bottom: 1.5rem;
  color: var(--color-texto);
  text-align: justify;

  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.sectionFeaturedProducts__button {
  border-radius: 1.625rem;
  border: .0625rem solid var(--color-secundario);
  background: rgba(0, 0, 0, 0);

  width: 12.5rem;
  height: 3.25rem;
}

.sectionFeaturedProducts__buttonText {
  color: var(--color-secundario);
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.sectionFeaturedProducts__button--hover:hover {
  border: .0625rem solid var(--color-precio-destacado);
  cursor: pointer;
}

.sectionFeaturedProducts__buttonText--hover:hover {
  color: var(--color-precio-destacado);
}

.sectionFeaturedProducts__cards {
  display: flex;
  align-items: nowrap;
  gap: 1.5rem;
}

.sectionFeaturedProducts__containerImg {
  width: 17.25rem;
  height: 20rem;
}

.sectionFeaturedProducts__img {
  background: lightgray 0rem -2.625rem / 100% 126.562% no-repeat;
  border-radius: .3125rem .3125rem 0 0;
  width: 17.25rem;
  height: 20rem;
  object-fit: fill;
}

.sectionFeaturedProducts__containerProducts {
  padding: 1.5rem;
  color: var(--color-terciario);
}

.sectionFeaturedProducts__products {
  padding-bottom: .625rem;
  font-family: Cormorant Garamond;
  font-size: 1.5rem;
  font-weight: 700;
}

.sectionFeaturedProducts__price {
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--color-terciario);
}

/*4.OUR COLLECTIONS*/

.collections {
  height: 67.625rem;
}

.collections h2 {
  color: var(--color-secundario);
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  justify-content: center;
}

.collections__products {
  display: flex;
  flex-wrap: nowrap;
  /*alinear*/
  justify-content: space-around;
  padding-right: 5.625rem;
}

.collections img {
  width: 22.5rem;
  height: 22.5rem;
  box-sizing: border-box;
  border-radius: .5rem;
}

.collections__products div {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-right: -5.4375rem;
}

.collections__products h3 {
  color: var(--color-fondo-blanco);
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  position: relative;
  z-index: 1;
  top: 20.625rem;
  left: 0rem;
}

.collections__products-mov {
  position: relative;
  top: -1.875rem;
  left: 0rem;
}

.collections button {
  text-decoration: none;
  display: inline-flex;
  padding: .75rem 3.6875rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.625rem;
  border: .0625rem solid var(--color-secundario);
  background: rgba(0, 0, 0, 0);
  color: var(--color-secundario);
  font-family: Manrope;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  position: relative;
  top: 1.25rem;
  left: 5rem;
  top: 2.5rem;
  left: 34.375rem;
}

.collections button:hover {
  border: .0625rem solid var(--color-texto-boton);
}

/* ================== Secciones de Gaby ==================== */

/* Selection of jewelry */

.sectionJewelry {
  height: 34.625rem;
  padding: 0 11.5625rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-fondo-blanco);
  overflow: hidden;
}

.sectionJewelry__description {
  padding: 4.875rem 2.5rem 3rem;
  width: 16.5rem;
}

.sectionJewelry__title {
  color: var(--color-secundario);
  font-family: Cormorant Garamond;
  font-size: 2.5rem;
  font-weight: 600;
  width: 16.5rem;
}

.sectionJewelry__text {
  margin-top: .75rem;
  margin-bottom: 1.5rem;
  color: var(--color-texto);
  text-align: justify;

  font-family: Manrope;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.sectionJewelry__buttom {
  border-radius: 1.625rem;
  border: .0625rem solid var(--color-secundario);
  background: rgba(0, 0, 0, 0);

  width: 12.5rem;
  height: 3.25rem;
}

.sectionJewelry__buttomText {
  color: var(--color-secundario);
  font-family: Manrope;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.sectionJewelry__buttom--hover:hover {
  border: .0625rem solid var(--color-precio-destacado);
  cursor: pointer;
}

.sectionJewelry__buttomText--hover:hover {
  color: var(--color-precio-destacado);
}

.sectionJewelry__cards {
  display: flex;
  align-items: center;
  gap: 1.125rem;
}

.sectionJewelry__card {
  border-radius: .5rem;
  background: var(--color-fondo-blanco);
  box-shadow: 0rem 0rem .0625rem 0rem rgba(23, 26, 31, 0.07),
    0rem 0rem .125rem 0rem rgba(23, 26, 31, 0.12);
}

.sectionJewelry__containerImg {
  width: 17.25rem;
  height: 20rem;
}

.sectionJewelry__img {
  background: lightgray 0rem -2.625rem / 100% 126.562% no-repeat;
  border-radius: .3125rem .3125rem 0 0;
  width: 17.25rem;
  height: 20rem;
}

.sectionJewelry__containerProducts {
  padding: .5rem;
  color: var(--color-terciario);
}

.sectionJewelry__products {
  padding-bottom: .625rem;
  font-family: Cormorant Garamond;
  font-size: 1.5rem;
  font-weight: 700;
}

.sectionJewelry__price {
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--color-terciario);
}

/* Our story */
.sectionStory {
  height: 35.25rem;
}

.sectionStory__title {
  display: flex;
  justify-content: center;
  padding-top: 3rem;

  color: var(--color-secundario);
  font-family: Cormorant Garamond;
  font-size: 2.5rem;
  font-weight: 600;
}

.sectionStory__containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 4.5rem;
}

.sectionStory__img {
  cursor: pointer;
  width: 73.5rem;
  height: 23rem;
  border-radius: .5rem;
  background-color: rgb(18, 18, 18) 0rem -13rem / 100% 213.043% no-repeat;
  position: relative;
  opacity: 0.8;
}

.sectionStory__icon {
  cursor: pointer;
  background-color: var(--color-fondo-blanco);
  border-radius: 100%;
  font-size: 2.5rem;
  position: absolute;
  color: var(--color-fondo-verde);
}

/* From the people */
.sectionTestimony {
  height: 32.625rem;
  background-color: var(--color-fondo-verde);
  color: var(--color-fondo-blanco);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sectionTestimony__description {
  width: 19.4375rem;
  height: 10.75rem;
}

.sectionTestimony__title {
  font-family: Cormorant Garamond;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: .75rem;
}

.sectionTestimony__text {
  padding-right: 4.1875rem;
  font-family: Manrope;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.sectionTestimony__people {
  width: 43.5rem;
  height: 23.4375rem;
  background-color: var(--color-secundario);
  border-radius: .5rem;

  display: flex;
  flex-direction: row;
  gap: 2.25rem;

  position: relative;
}

.sectionTestimony__img {
  width: 18.75rem;
  height: 23.4375rem;
  border-radius: .5rem 0 0 .5rem;
}

.sectionTestimony__containerTestimony {
  width: 20.25rem;
  height: 11.375rem;
  padding-top: 3.75rem;
  padding-right: 2.25rem;
}

.sectionTestimony__testimony {
  padding-bottom: 1.125rem;
  font-family: Manrope;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.sectionTestimony__person {
  font-family: Manrope;
  font-size: 1.25rem;
  font-weight: 700;
}

.sectionTestimony__country {
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.sectionTestimony__arrows {
  position: absolute;
  font-size: 1.25rem;
  margin-top: 23.4375rem;
  margin-left: 63.75rem;
}

.sectionTestimony__arrow {
  border: .0625rem solid var(--color-fondo-blanco);
  border-radius: 90%;
  padding: .9375rem 1.25rem;
  margin: .6563rem;
}

.sectionTestimony__arrowRight--hover:hover {
  color: var(--color-precio-destacado);
  cursor: pointer;
}

.sectionTestimony__arrowLeft--hover:hover {
  color: var(--color-precio-destacado);
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: var(--color-fondo-verde);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  color: var(--color-fondo-blanco);

  height: 14.625rem;
}

.footer__containerLogo {
  list-style: none;
  cursor: pointer;
}

.footer_logo {
  color: var(--color-primario);
  font-family: Cormorant Garamond;
  font-size: 1.875rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 5.8125rem;
}

.footer__copyright {
  font-size: var(--tamaño-enlaces);
  font-weight: var(--peso-secundario);
}

.footer__firtsLinks {
  cursor: pointer;
  list-style: none;
  font-family: Manrope;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
}

.footer__secondLinks {
  cursor: pointer;
  list-style: none;
  font-family: Manrope;
  font-size: .875rem;
  font-style: normal;
  font-weight: 400;
}

.footer__links {
  padding-bottom: .75rem;
}

.footer__links--hover:hover {
  color: var(--color-precio-destacado);
}

.footer__contactTitle {
  font-family: Cormorant Garamond;
  font-size: 1.25rem;
  font-weight: 400;
}

.footer__contactText {
  font-family: Manrope;
  font-size: .75rem;
  font-weight: 400;
  line-height: 2;
  padding-bottom: 1rem;
}

.footer__contactEmail {
  width: 100%;
  display: flex;
}

.footer__barEmail {
  display: inline-flex;
  width: 10.5625rem;
  height: 1.875rem;
  padding: .4375rem 8.25rem .375rem .75rem;
  align-items: center;
  gap: .375rem;

  border-radius: 1.125rem 0rem 0rem 1.125rem;
  border: .0625rem solid var(--color-fondo-blanco);
  background: rgba(0, 0, 0, 0);
}

.footer__iconEmail {
  padding-left: .75rem;
  padding-right: .375rem;
  font-size: 1rem;
}

.footer__inputEmail {
  color: var(--color-fondo-blanco);
  font-family: Manrope;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.375rem;
  background-color: inherit;
  outline: none;
  border: none;
}

.footer__button {
  font-family: Manrope;
  font-size: .875rem;
  font-weight: 400;
  display: inline-flex;
  padding: .4375rem 1.4688rem .4375rem 1.5313rem;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border-radius: 0rem 1.125rem 1.125rem 0rem;
  background: var(--color-texto-boton);
  color: var(--color-fondo-boton);
}

.footer__containerRRSS {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 3.75rem;
}

.footer__rrssIcon {
  font-size: 1.5rem;
  padding-top: 2.3125rem;
  margin-right: 1rem;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 768px) {
  /* GENERAL*/
  * {
      padding: 0;
      margin: 0;
      max-width: 100%;
    }

  /*0.HEADER*/

  .header__nav-mostrar-menu,
  .header__nav-esconder-menu {
    display:block;
  }

  .header__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #093931;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 6.25rem 0rem;
    z-index: 100;
    transition: 0.8s;
  }

  .header__nav-list {
    display: block;
    padding: 1.875rem;
  }

  .header__nav-list a { /*rev*/
    display: flex;
    gap: 1.25rem 0;
  }

  .header__nav-mostrar-menu
  {
  position: absolute;
  top: 1.875rem;
  right: 2.5rem;
  }

  .header__nav-esconder-menu {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
  }

  #check:checked ~ .header__nav {
    right: 0;
  }

  /*1.BIENVENIDA*/
  .bienvenida {
    display: block;
  }

  .bienvenida--text {
    font-size: 4.5rem;
    padding: 12.5rem 6.25rem;
    width: 26.875rem;
  }

  .bienvenida--boton {
    left: 6.875rem;
  }

  .aside--figure img,
  .aside--figure-vd img {
    display: none;
  }
 
  /*2.SERVICIOS*/
  .servicios {
    display: block;
    height: 37.5rem;
    justify-content: center;
  }
  .servicios--article {
    padding: 1.25rem 6.25rem;
    justify-content: center;
  }
  /*4.OUR COLLECTIONS*/
  .collections {
    height: 53.75rem;
  }

  .collections img {
    width: 11.875rem;
    height: 11.875rem;
  }

  .collections__products { 
    display: flex;
    justify-content: space-around;    
  }

  .collections__products div{
    gap:0;
  }

  .collections__products article {
    padding: 0rem .625rem 0rem 1.25rem;
    margin: 2.1875rem;
  }

  .collections__products h3 {
    font-size: 1rem;
    top: 11.875rem;
    left: 0rem;
  }

  .collections button {
    top: 0rem;
    left: 11.875rem;
  }
}