@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope&display=swap');

:root {
  /* ============================ Paleta de colores ============================== */

  /* Fondo de la section de bienvenida y el footer */
  --color-fondo-verde: #093931;
  /* Fondo del main, titulos de las colecciones y letra sin hoover del nav bar y footer */
  --color-fondo-blanco: #ffffff;
  /* Color de h1, iconos y enlaces en hover del nav */
  --color-primario: #f5d38e;
  /* Títulos dentro del main, botones con fondo blanco */
  --color-secundario: #0d554a;
  /* Titulos de los subtitulos, productos destacados y del order sumary */
  --color-terciario: #171a1f;
  /* Color de los párrafos, precios */
  --color-texto: #9095a0;
  /* Fondo del botón subscribe */
  --color-fondo-boton: #6b4a09;
  /* Texto del botón subscribe */
  --color-texto-boton: #f2c66d;
  /* Precios destacados */
  --color-precio-destacado: #B37D10;
  
  /* ============================ Grosor fuente y font-family ============================== */
    
  /* Logo, enlaces nav, h1, colecciones de productos, subtitulo footer*/
  --peso-primario: 400 'Cormorant Garamond', serif;
  /* Texto botones, parrafos, precios, testimonio, copyright, subs texto footer */
  --peso-secundario: 400 'Manrope', sans-serif;
  /* Autor del testimonio, enlaces del footer */
  --peso-terciario: 700 'Manrope', sans-serif;
  /* Subtitulos */
  --peso-subtitulos: 600 'Cormorant Garamond', serif;
  /* Precios */
  --peso-precios: 600 'Manrope', sans-serif;

  /* ============================ Tamaño fuente ============================== */

    /* lOGO */
    --tamaño-logo: 30px;
    /* Enlaces de las barras de navegacion, footer, copyrigth y boton de subscribe*/
    --tamaño-enlaces: 14px;
    /* Texto principal (h1)*/
    --tamaño-primario: 72px;
    /* Titulos, precios destacados */
    --tamaño-secundario: 40px;
    /* Texto de los botones, subtitulos */
    --tamaño-terciario: 18px;
    /* Parrafos, precios, carruseles, testimonio*/
    --tamaño-texto: 16px;
    /* Titulos de los productos destacados y el del order sumary */
    --tamaño-titulos-productos: 24px 700 'Cormorant Garamond', serif;
    /* Titulos de las colecciones de productos */
    --tamaño-colecciones: 32px;
    /* Testimonio */
    --tamaño-autor-testimonio: 20px;
    /* Texto invitando a subscribir en el footer */
    --tamaño-texto-subs: 12px;
}


/* Estilos del footer */
footer {
    background-color: var(--color-fondo-verde);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 1440px;
    height: 234px;
    flex-shrink: 0;
}

ul {
    list-style: none;
}

.redes-sociales {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.redes-sociales> li {
    padding-left: 20px;
}

.email {
    width: 100%;
    display: flex;
  }

  span {
    display: inline-flex;
    padding: 7px 132px 6px 12px;
    align-items: center;
    gap: 6px;

    border-radius: 18px 0px 0px 18px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0);
  }

  .uno {
    background-color: inherit;
    outline: none;
    border: none;
  }
  .dos {
    display: inline-flex;
    padding: 7px 23.5px 7px 24.5px;
    justify-content: center;
    align-items: center;

    border-radius: 0px 18px 18px 0px;
    background: #f2c66d;
  }